


  <!-- About Image Start ------------------------------------------------------------------------->
  <div class="Main_About_video container-fluid p-0 h-auto position-relative ">

    
    <video autoplay loop muted plays-inline class="back-video" width="100%">
      <source src="./img/video/pexels-nicole-michalou-6138826.mp4" type="video/mp4">
    </video>

    <div class="content position-absolute">
      <h1>Cooking With Love <br> Provides Food <br> For The Soul</h1>
      
     </div>
    
    
  </div>
  
</div>



  <div class="container-fluid Main_About">

    <div class="row Details_About">

      <div class="col-lg-6 col-md-6 col-sm-12 Content_1">

        <h6>welcome to the pizza store</h6>

        <h3>We are a modern restaurant in the center of the city</h3>

        <p>From grilled Tandoori chicken burgers to simple chicken burgers with garlic rosemary mayonnaise, put a new
          twist on an old barbecue fYumyurite with these unique and chicken burger recipes.</p>

          <p class="pt-2">
            The secret ingredient is always love.people who love to eat are always the best people. 
            food can bring people together in a way nothing else could. 
          </p>  

        <!-- <div class="btn">
          <button type="button" class="btn btn-secondary">Learn More</button>
        </div> -->
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 d-flex text-center Content_2">
        <div class="left_imgs">
          <div class="img_1">
            <img src="./img/about/p1.png" class="img-fluid" width="200" height="180" alt="image">
          </div>

          <div class="img_1 pt-1">
            <img src="./img/about/p2.jpeg" class="img-fluid" width="200" height="180" alt="image">
          </div>
        </div>

        <div class="Img_2 ps-2 p-4">
          <div class="img_3">
            <img src="./img/about/p3.jpeg" width="280" height="150" class="img-fluid" alt="image">
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>
  <!-- About Image Ends -------------------------------------------------------------------------->




  <!--About Background Image Starts----------------------------------------------------------------------------------------->
  <div class="container-fluid p-0">

    <div class="Bg_Image">
      
    </div>

  </div>
 
  <!--About Background Image Starts------------------------------------------------------------------------------------------>





  <!-- Chef Start ---------------------------------------------------------------------------->

  <div class="container-fluid Main_Chef">
    <h5>our staff</h5>

    <h3>experience chefs</h3>

    <div class="row g-3 About_Chef">
      <div class="col-lg-3 col-md-6 col-sm-12 Details_chef">
        <img src="./img/chef/p7.jpg" class="img-fluid" alt="image">
        <div class="overlay">
          <h6>the chef</h6>
          <h4>federico hickman</h4>
          <div class="d-flex Main_icon">
            <i class="fab fa-facebook-f icon"></i>
            <i class="fab fa-twitter icon"></i>
            <i class="fab fa-instagram icon"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 Details_chef">
        <img src="./img/chef/p11.jpg" class="img-fluid" alt="image">
        <div class="overlay">
          <h6>the chef</h6>
          <h4>Marian Widjya</h4>
          <div class="d-flex Main_icon">
            <i class="fab fa-facebook-f icon"></i>
            <i class="fab fa-twitter icon"></i>
            <i class="fab fa-instagram icon"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 Details_chef">
        <img src="./img/chef/p12.jpg" class="img-fluid" alt="image">
        <div class="overlay">
          <h6>the chef</h6>
          <h4>Miller Ethan</h4>
          <div class="d-flex Main_icon">
            <i class="fab fa-facebook-f icon"></i>
            <i class="fab fa-twitter icon"></i>
            <i class="fab fa-instagram icon"></i>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 Details_chef">
        <img src="./img/chef/p10.jpg" class="img-fluid" alt="image">
        <div class="overlay">
          <h6>the chef</h6>
          <h4>gwilym davies</h4>
          <div class="d-flex Main_icon">
            <i class="fab fa-facebook-f icon"></i>
            <i class="fab fa-twitter icon"></i>
            <i class="fab fa-instagram icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chef End ---------------------------------------------------------------------------------->

  



   <!-- footer -->
   <div class="container-fluid Footer_main">
    <div class="container Footer_about">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12 p-3">
          <h5>ABOUT US</h5>
          <p class="pt-4">
            Far far away, behind the word
            mountains, far from the
            countries Vokalia and
            Consonantia, there live the
            blind texts.
          </p>
          
          

          <div class="About_icon pt-3">
            <div class="d-flex">

              <i class="fab fa-twitter logo p-3 "></i>
              
              <i class="fab fa-facebook-f logo p-3 ms-3"></i>

              <i class="fab fa-instagram logo p-3 ms-3"></i>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <h5 class="ps-2">RECENT BLOG</h5>
          <div class="d-flex pt-4">
            <div class="Image_1">
              <img src="./img/footer/p1.jpg" alt="image" class="img-fluid">
            </div>
            <div class="content ps-2">
              <h6>Even the all-powerful Pointing </h6>
              <p class="pt-1"><span><i class="far fa-calendar-alt"></i></span> Sept 15, 2018 <span class="ps-3"><i class="fas fa-user-plus"></i> </span> Admin <span class="ps-3"><i class="far fa-envelope "></i>
                </span> 19</p>
            </div>
          </div>

          <div class="d-flex pt-4">
            <div class="Image_2">
              <img src="./img/footer/p4.jpg" alt="image" class="img-fluid">
            </div>
            <div class="content ps-2">
              <h6>Even the all-powerful Pointing </h6>
              <p class="pt-2"><span><i class="far fa-calendar-alt"></i></span> Sept 15, 2018 <span class="ps-3"><i class="fas fa-user-plus"></i> </span> Admin <span class="ps-3"><i class="far fa-envelope"></i>
                </span> 19</p>
            </div>
          
        </div>
        </div>


        <div class="col-lg-2 col-md-6 col-sm-12 About_Services p-3">
          <h5 class="ps-3">SERVICES</h5>

          <div class="links pt-4">
            <ul>
              <li><a href="home"> Home </a></li>
              <li><a href="about"> About us</a></li>
              <li><a href="blog"> Services</a></li>
              <li><a href="blog"> Terms of service</a></li>
              <li><a href="about"> Privacy policy</a></li>
              <li><a href="contact"> Feedback</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 About_Questions  p-3">
          <h5>HAVE A QUESTIONS?</h5>

          <div class="d-flex pt-4">
            <!-- <i class="fi fi-rr-marker"></i> -->
            <!-- <i class="fas fa-map-marker-alt  icon fs-3"></i> -->
            <i class="fi fi-rr-marker icon fs-3"></i>
            <p class="ps-3">203 Fake St. Mountain View,
              San Francisco, California,
              USA </p>
          </div>

          <div class="d-flex pt-3">      
           
            <i class="fas fa-phone-alt icon fs-3"></i>
            <p class="ps-3">+2392 3929 210</p>
          </div>

          <div class="d-flex pt-4">
            <i class="far fa-envelope icon fs-3"></i>
            <p class="ps-3">info@yourdomain.com</p>
          </div>

        </div>

      </div>
    </div>

    <!-- One line for footer -->
    <footer class="footer pt-5">
      <p>Copyright ©2023 THE PIZZA STORE All rights reserved </p>
    </footer>
  </div>