
  <!-- slid bar -->
  <div class="Main_Blog">
  <div class="blog-bg">

  </div>
</div>
  <!-- end slidbar-->




  <!-- blog contain-->
  <div class="container-fluid blog-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-12 ">
          <h3>HEALTHY FOOD FOR HEALTHY BODY</h3>
          <ul>
            <li>
              <span><i class="far fa-calendar-alt"></i></span>
              May 21, 2022
            </li>
            <li>
              <span><i class="far fa-comment"></i></span>
              2 Comments
            </li>
            <li>
              <span><i class="fa-regular fa-share-from-square"></i></span>
              <a href="#">Share</a>
            </li>
          </ul>
          <div>
            <img src="./img/menu/p1.jpg" alt="BLOG 1 image" class="img-fluid">
          </div>
          <div class="py-3">
            <p style="text-align: justify;">
              You know, I never really got the appeal of cheese pizza. Growing up, my pizza of choice was always ham and
              pineapple. I’m pretty sure that was due to the fact that when I was a kid, I didn’t know what other kinds
              of pizzas were out there. Ham and pineapple happened to be my parents’ favorite, so it was kind of mine
              too, by default. Fast forward many, many years and I’ve pretty much tried as many types of pizzas as
              possible. Even so, amidst my extensive pizza eating of porchetta pizzas, grilled cheese pizzas, and
              caramelized shrimp pizzas, I’ve been slow to answer the siren song of the classic, cheese-topped pizza....
            </p>

            <button class="btn"> <a href="menu">SEE MENU</a></button>
          </div>
        </div>

        <div class="col col-lg-4 col-sm-12">
          <div class="ms-3 my-3">
            <form class="blog-search-block">
              <div class="input-group">
                <input type="text" placeholder="SEARCH" class="form-control">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
            </form>
          </div>

          <div class="blog-sidebar-block mt-5 ms-3 p-3">
            <h6 class="ps-3 py-2"><b>FEATURED POSTS</b></h5>
              <div class="d-flex pt-1 blog-posts-item">
                <div class="Image_1 ms-2">
                  <img src="./img/footer/p1.jpg" alt="image" class="img-fluid">
                </div>
                <div class="content ps-3">
                  <a href="#" class="text-decoration-none">Healthy food for healthy body</a>
                  <p>May 21, 2022</p>
                </div>
              </div>

              <div class="d-flex pt-2 blog-posts-item">
                <div class="Image_2 ms-2">
                  <img src="./img/footer/p4.jpg" alt="image" class="img-fluid">
                </div>
                <div class="content ps-3 pt-2">
                  <a href="#" class="text-decoration-none">Food design trends 2022</a>
                  <p>April 6, 2021</p>
                </div>
              </div>
          </div>


          <!-- Accordian blog part -->
          <div class="blog-sidebar-block mt-5 ms-3 p-3">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Pizza
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Pizza is a dish of Italian origin consisting of a usually round, flat base of leavened wheat-based
                    dough topped with tomatoes, cheese, and often various other ingredients, which is then baked at a
                    high temperature, traditionally in a wood-fired oven.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Burger
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">burgers are often served with cheese, lettuce, tomato, onion, pickles,
                    bacon, or chilis; condiments such as ketchup, mustard, mayonnaise, relish, or a "special sauce,"
                    often a variation of Thousand Island dressing; and are frequently placed on sesame seed buns.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Mocktail
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Mocktails are non-alcoholic mixed drinks meant to replicate the
                    presentation and complexity of craft cocktails, just without the alcohol. To make mocktails,
                    bartenders mix combinations of sodas, juices, herbs, and syrups to create unique flavors.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Dessert
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the
                    <code>.accordion-flush</code> class.
                    glance, a bit more representative of how this would look in a real-world application.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end blog-contain-->

      <section class="container Details_blog">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <div class="row">
                <div class="col-lg-3">
                  <img src="./img/blog/pizza/img-1.png" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/pizza/img-2.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/pizza/img-3.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/pizza/img-4.jpg" class="d-block w-100 h-100" alt="...">
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row">
                <div class="col-lg-3">
                  <img src="./img/blog/burger/img-1.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/burger/img-2.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/burger/img-3.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/burger/img-4.jpg" class="d-block w-100 h-100" alt="...">
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row">
                <div class="col-lg-3">
                  <img src="./img/blog/mocktail/img-1.png" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/mocktail/img-2.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/mocktail/img-3.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/mocktail/img-4.jpg" class="d-block w-100 h-100" alt="...">
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <div class="row">
                <div class="col-lg-3">
                  <img src="./img/blog/dessert/img-1.webp" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/dessert/img-2.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/dessert/img-3.jpg" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="col-lg-3">
                  <img src="./img/blog/dessert/img-4.jpg" class="d-block w-100 h-100" alt="...">
                </div>
              </div>
            </div>
          </div>   
        </div>
      </section>

    </div>
  </div>





   <!-- footer -->
   <div class="container-fluid Footer_main">
    <div class="container Footer_about">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12 p-3">
          <h5>ABOUT US</h5>
          <p class="pt-4">
            Far far away, behind the word
            mountains, far from the
            countries Vokalia and
            Consonantia, there live the
            blind texts.
          </p>

          <div class="About_icon pt-3">
            <div class="d-flex">

              <i class="fab fa-twitter logo p-3 "></i>
              
              <i class="fab fa-facebook-f logo p-3 ms-3"></i>

              <i class="fab fa-instagram logo p-3 ms-3"></i>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <h5 class="ps-2">RECENT BLOG</h5>
          <div class="d-flex pt-4">
            <div class="Image_1">
              <img src="./img/footer/p1.jpg" alt="image" class="img-fluid">
            </div>
            <div class="content ps-2">
              <h6>Even the all-powerful Pointing </h6>
              <p class="pt-1"><span><i class="far fa-calendar-alt"></i></span> Sept 15, 2018 <span class="ps-3"><i class="fas fa-user-plus"></i> </span> Admin <span class="ps-3"><i class="far fa-envelope "></i>
                </span> 19</p>
            </div>
          </div>

          <div class="d-flex pt-4">
            <div class="Image_2">
              <img src="./img/footer/p4.jpg" alt="image" class="img-fluid">
            </div>
            <div class="content ps-2">
              <h6>Even the all-powerful Pointing </h6>
              <p class="pt-2"><span><i class="far fa-calendar-alt"></i></span> Sept 15, 2018 <span class="ps-3"><i class="fas fa-user-plus"></i> </span> Admin <span class="ps-3"><i class="far fa-envelope"></i>
                </span> 19</p>
            </div>
          
        </div>
        </div>
      


        <div class="col-lg-2 col-md-6 col-sm-12 About_Services p-3">
          <h5 class="ps-3">SERVICES</h5>

          <div class="links pt-4">
            <ul>
              <li><a href="home"> Home </a></li>
              <li><a href="about"> About us</a></li>
              <li><a href="blog"> Services</a></li>
              <li><a href="blog"> Terms of service</a></li>
              <li><a href="about"> Privacy policy</a></li>
              <li><a href="contact"> Feedback</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 About_Questions  p-3">
          <h5>HAVE A QUESTIONS?</h5>

          <div class="d-flex pt-4">
            <i class="fi fi-rr-marker icon fs-3"></i>
            <p class="ps-3">203 Fake St. Mountain View,
              San Francisco, California,
              USA </p>
          </div>

          <div class="d-flex pt-3">      
           
            <i class="fas fa-phone-alt icon fs-3"></i>
            <p class="ps-3">+2392 3929 210</p>
          </div>

          <div class="d-flex pt-4">
            <i class="far fa-envelope icon fs-3"></i>
            <p class="ps-3">info@yourdomain.com</p>
          </div>



        </div>

      </div>
    </div>

    <!-- One line for footer -->
    <footer class="footer pt-5">
      <p>Copyright ©2023 THE PIZZA STORE All rights reserved </p>
    </footer>
  </div>



