<!-- slider start -->

<div class="row g-0 Main_Slider">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item item1 active">
          <img src="./img/img_slider/p10.jpg" style="filter: brightness(70%);" class="img-fluid d-block w-100"
            alt="...">
          <div class="carousel-caption carousel1">
            <div class="row content">
              <div class="col-lg-6 col-md-12 col-sm-12 data text-center py-5">
                <p>welcome to our restaurant</p>
                <h2>we give you an eating experience that you'll never forget</h2>
                <h6>food may be essential as fuel for the body, but good food is fuel for your soul.</h6>

                <button> <a href="menu">Order Now</a></button> <button> <a href="menu">View Menu</a></button>

              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="./img/Pizza/Veggie.svg" alt="image" class="img-fluid w-75 header_img">
              </div>
            </div>
          </div>
        </div>


        <div class="carousel-item item2">
          <img src="./img/img_slider/p25.jpg" style="filter: brightness(80%);" class="img-fluid w-100" alt="...">
          <div class="carousel-caption carousel2">
            <p>Good food choices are good investments.</p>
            <h2>We make everything <br>with the best possible ingredients.</h2>

            <p class="pt-4">let start to order food now...</p>
            <button> <a href="menu">Order Now</a></button> <button> <a href="menu">View Menu</a></button>
          </div>
        </div>


        <div class="carousel-item item3">
          <img src="img/img_slider/p8.jpg" class="img-fluid d-block w-100" alt="...">
          <div class="carousel-caption carousel3 d-none d-md-block">
            <p>good food, good life</p>
            <h2>are you hungry? <br> <span> don't wait!! <br>
              </span> we cooked your desired pizza recipe </h2>
            <p class="pt-4">let start to order food now...</p>
            <button> <a href="menu">Order Now</a></button> <button> <a href="menu">View Menu</a></button>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span aria-hidden="true"><i class="fas fa-angle-left logo2"></i></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span aria-hidden="true"><i class="fas fa-angle-right logo2"></i></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- slider end -->


<!-- About Start -->
<div class="container-fluid Main_About">

  <h5>-----About Us-----</h5>

  <div class="row Details_About">

    <div class="col-lg-6 col-md-12 col-sm-12 Content_1">

      <h6>welcome to the pizza store</h6>

      <h3>We are a modern restaurant in the center of the city</h3>

      <p>From grilled Tandoori chicken burgers to simple chicken burgers with garlic rosemary mayonnaise, put a new
        twist on an old barbecue fYumyurite with these unique and chicken burger recipes.</p>

      <div class="btn">
        <button type="button" class="btn btn-secondary"><a href="about"> Learn More </a></button>
      </div>

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex text-center Content_2">
      <div class="left_imgs">
        <div class="img_1">
          <img src="./img/about/p1.png" class="img-fluid" width="200" height="180" alt="image">
        </div>

        <div class="img_1 pt-1">
          <img src="./img/about/p2.jpeg" class="img-fluid" width="200" height="180" alt="image">
        </div>
      </div>

      <div class="Img_2 ps-2 p-4">
        <div class="img_3">
          <img src="./img/about/p3.jpeg" width="280" height="150" class="img-fluid" alt="image">
        </div>
      </div>
    </div>

  </div>
</div>


<!-- About End -->




<!-- Menu Hint -->

<div class="container-fluid p-0 Main_Menu">
  <div class="bg_img">
    <div class="bg_txt">
      <h3>Enjoy our<br> specially prepared <br> burgers for you</h3>

      <p>Fast, easy and perfectly cooked.<br>We serve a proprietary blend of fresh,<br> never frozen steak‐burgers.
      </p>

      <button> <a href="menu">SEE MENU</a></button>
    </div>
  </div>


  <div class="bg_img2">
    <div class="bg_txt">
      <h3>Enjoy our<br> specially prepared <br> burgers for you</h3>

      <p>Fast, easy and perfectly cooked.<br>We serve a proprietary blend of fresh,<br> never frozen steak‐burgers.
      </p>

      <button> <a href="menu">SEE MENU</a></button>
    </div>
  </div>
</div>


<!-- Menu Hint End -->




<!-- Main Menu In Home Page Starts  -->

<div class="container-fluid Main_Menu_Item text-white">
  <p class="info text-center pt-5 pb-5">------- Food Menu -------</p>
  <div class="container Menu_Item">
    <div data-aos="fade-up" data-aos-duration="1100">

      <h1 class="text-center">Most Popular Items</h1>
    </div>

    <div class="PORTFOLIO pt-3 pb-5" data-aos="fade-up" data-aos-duration="3000">

      <div class="row text-center">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 pt-3">
          <ul>
            <li class="list fw-bold px-3 active" data-filter="all">All</li>
            <li class="list fw-bold px-2" data-filter="pizza">Pizza</li>
            <li class="list fw-bold px-2" data-filter="burger">Burgers</li>
            <li class="list fw-bold px-2" data-filter="mocktail">Mocktail</li>
            <li class="list fw-bold px-2" data-filter="desert">Deserts</li>
          </ul>
        </div>
        <div class="col-lg-3"></div>
      </div>




      <div class="row main_content product">

        <!-- pizza1 -->
        <div class="col-lg-6 col-md-6 col-sm-12 itemBox" data-item="pizza">
          <div class="d-flex content_main">
            <div class="img">
              <img src="./img/pizza1/p2.webp" alt="pizza1" class="img-fluid">
            </div>
            <div class="content">
              <h6>pizza1 <sup class="span">......................................................</sup> <span
                  class="price">100</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>
          </div>
        </div>

        <!-- pizza2 -->
        <div class="col-lg-6 col-md-6 col-sm-12 itemBox " data-item="pizza">
          <div class="d-flex">
            <div class="img">
              <img src="./img/pizza1/p4.webp" alt="pizza2" class="img-fluid">
            </div>
            <div class="content">
              <h6>pizza2 <sup class="span">......................................................</sup> <span
                  class="price">$8.95</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>

          </div>
        </div>


        <!-- burger1 -->
        <div class="col-lg-6 col-md-6 col-sm-12 pt-4 itemBox " data-item="burger">
          <div class="d-flex">
            <div class="img">
              <img src="./img/pizza1/p6.jpg" alt="image" class="img-fluid">
            </div>
            <div class="content">
              <h6>burger1 <sup class="span">...................................................</sup> <span
                  class="price">$8.95</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>

          </div>
        </div>


        <!-- burger2 -->
        <div class="col-lg-6 col-lg-6 col-sm-12 pt-4 itemBox" data-item="burger">
          <div class="d-flex">
            <div class="img">
              <img src="./img/pizza1/p7.png" alt="image" class="img-fluid">
            </div>
            <div class="content">
              <h6>burger2 <sup class="span">....................................................</sup> <span
                  class="price">$8.95</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>
          </div>
        </div>


        <!-- mocktail1 -->
        <div class="col-lg-6 col-lg-6 col-sm-12 pt-4 itemBox" data-item="mocktail">
          <div class="d-flex">
            <div class="img">
              <img src="./img/pizza1/p22.jpeg" style="width: 80px; height: 80px;" alt="image" class="img-fluid">
            </div>
            <div class="content">
              <h6>mocktail1 <sup class="span">................................................</sup> <span
                  class="price">$8.95</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>
          </div>
        </div>

        <!-- mocktail2 -->
        <div class="col-lg-6 col-lg-6 col-sm-12 pt-4 itemBox" data-item="mocktail">
          <div class="d-flex">
            <div class="img">
              <img src="./img/pizza1/p21.jpg" style="width: 80px; height: 80px;" alt="image" class="img-fluid">
            </div>
            <div class="content">
              <h6>mocktail2 <sup class="span">..................................................</sup> <span
                  class="price">$8.95</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>
          </div>
        </div>

        <!-- desert1 -->
        <div class="col-lg-6 col-lg-6 col-sm-12 pt-4 itemBox" data-item="desert">
          <div class="d-flex">
            <div class="img">
              <img src="./img/pizza1/p25.png" alt="image" class="img-fluid">
            </div>
            <div class="content">
              <h6>desert1 <sup class="span">...................................................</sup> <span
                  class="price">$8.95</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>
          </div>
        </div>

        <!-- desert2 -->
        <div class="col-lg-6 col-lg-6 col-sm-12 pt-4 itemBox" data-item="desert">
          <div class="d-flex">
            <div class="img">
              <img src="./img/pizza1/p26.webp" alt="image" class="img-fluid">
            </div>
            <div class="content">
              <h6>desert2 <sup class="span">......................................................</sup> <span
                  class="price">$8.95</span></h6>
              <p>xyz,xyz,xyz</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Main Menu In Home Page Ends  -->





<!-- CARDS -->

<div class="container-fluid Card_main">
  <p class="info text-center">------- Features -------</p>
  <div class="container Menu_Item">
    <h2 class="text-center">Our Some Feature</h2>
    <p class="text-center text-white pt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="container">

      <div class="row row-cols-1 row-cols-md-3 g-3 pt-3 card_about">

        <div class="col-lg-3 col-md-6 card_info">
          <div class="card">
            <div class="icon pt-4 pb-2 ">
              <i class="fi fi-sr-hamburger-soda card_logo"></i>
            </div>
            <div class="card-body">
              <h5>Fresh Dishes</h5>
              <p class="p-2 para">Quality food is packed with nutrients and minerals needed to keep a body functioning
                at
                peak capacity.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 card_info">
          <div class="card">
            <div class="icon pt-4 pb-2 ">
              <i class="fi fi-ss-ballot card_logo"></i>
            </div>
            <div class="card-body">
              <h5>Various Menu</h5>
              <p class="p-2">Enjoy food all over the world. We are ready to supply vegen food for you anytime you want
                with the good quality.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 card_info">
          <div class="card">
            <div class="icon pt-4 pb-3 ">
              <i class="fi fi-ss-room-service card_logo"></i>
            </div>
            <div class="card-body">
              <h5>Well Service</h5>
              <p class="p-1">We serve the test you love.This is a type of restaurant which typically serves delicious
                food and drinks.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 card_info">
          <div class="card">
            <div class="icon pt-4 pb-1 ">
              <i class="fi fi-rr-time-twenty-four card_logo"></i>
            </div>
            <div class="card-body">
              <h5>Fast Delivery</h5>
              <p class="p-2">The fastest delivery in your city. Our job is to filling your tummy with delicious food
                and
                with fast
                delivery.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cards end -->





<!-- Number Changing Start -->

<div class="container-fluid Main_Number text-white">

  <div class="row gy-4 Details_Number">
    <div class="col-lg-3 col-md-6 col-sm-6 cols">
      <div class="container">
        <i class="far fa-laugh logo"></i>
        <span class="num" data-val="400">000</span>
        <span class="text">Happy Customers</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 cols">
      <div class="container">
        <i class="fas fa-hamburger logo"></i>
        <span class="num" data-val="340">000</span>
        <span class="text">Meals Delivered</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 cols">
      <div class="container">
        <i class="fas fa-utensils logo"></i>
        <span class="num" data-val="225">000</span>
        <span class="text">Menu Items</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 cols">
      <div class="container">
        <i class="fas fa-glass-martini-alt logo"></i>
        <span class="num" data-val="280">000</span>
        <span class="text">Total Beverages</span>
      </div>
    </div>
  </div>
</div>


<!-- Number Changing End -->







<!-- footer -->
<div class="container-fluid Footer_main">
  <div class="container Footer_about">
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-12 p-3">
        <h5>ABOUT US</h5>
        <p class="pt-4">
          Far far away, behind the word
          mountains, far from the
          countries Vokalia and
          Consonantia, there live the
          blind texts.
        </p>

        <div class="About_icon pt-3">
          <div class="d-flex">

            <i class="fab fa-twitter logo p-3 "></i>

            <i class="fab fa-facebook-f logo p-3 ms-3"></i>

            <i class="fab fa-instagram logo p-3 ms-3"></i>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <h5 class="ps-2">RECENT BLOG</h5>
        <div class="d-flex pt-4">
          <div class="Image_1">
            <img src="./img/footer/p1.jpg" alt="image" class="img-fluid">
          </div>
          <div class="content ps-2">
            <h6>Even the all-powerful Pointing </h6>
            <p class="pt-1"><span><i class="far fa-calendar-alt"></i></span> Sept 15, 2018 <span class="ps-3"><i
                  class="fas fa-user-plus"></i> </span> Admin <span class="ps-3"><i class="far fa-envelope "></i>
              </span> 19</p>
          </div>
        </div>

        <div class="d-flex pt-4">
          <div class="Image_2">
            <img src="./img/footer/p4.jpg" alt="image" class="img-fluid">
          </div>
          <div class="content ps-2">
            <h6>Even the all-powerful Pointing </h6>
            <p class="pt-2"><span><i class="far fa-calendar-alt"></i></span> Sept 15, 2018 <span class="ps-3"><i
                  class="fas fa-user-plus"></i> </span> Admin <span class="ps-3"><i class="far fa-envelope"></i>
              </span> 19</p>
          </div>
        </div>

      </div>


      <div class="col-lg-2 col-md-6 col-sm-12 About_Services p-3">
        <h5 class="ps-3">SERVICES</h5>

        <div class="links pt-4">
          <ul>
            <li><a href="home"> Home </a></li>
            <li><a href="about"> About us</a></li>
            <li><a href="blog"> Services</a></li>
            <li><a href="blog"> Terms of service</a></li>
            <li><a href="about"> Privacy policy</a></li>
            <li><a href="contact"> Feedback</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 About_Questions  p-3">
        <h5>HAVE A QUESTIONS?</h5>

        <div class="d-flex pt-4">
          <i class="fi fi-rr-marker icon fs-3"></i>
          <p class="ps-3">203 Fake St. Mountain View,
            San Francisco, California,
            USA </p>
        </div>

        <div class="d-flex pt-3">

          <i class="fas fa-phone-alt icon fs-3"></i>
          <p class="ps-3">+2392 3929 210</p>
        </div>

        <div class="d-flex pt-4">
          <i class="far fa-envelope icon fs-3"></i>
          <p class="ps-3">info@yourdomain.com</p>
        </div>



      </div>

    </div>
  </div>

  <!-- One line for footer -->
  <footer class="footer pt-5">
    <p>Copyright ©2023 THE PIZZA STORE All rights reserved </p>
  </footer>
</div>







<script src="src/script.js"></script>

<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>