
//colors:-

$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #e6e6ea;
$pure: #fff;
$dark: #232323;
$gray: #ccc;



//trasition

// $smooth: all .3s ease-in-out;

$text-hover : #fdcb6e ;
$background : #333;
$btn-hover: #985f39;

//trasition

$smooth: all .3s ease-in-out;